*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.image-container{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* background-color: aqua; */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background-color: #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.image:hover{
    cursor: pointer;
    background-color: #444;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
img {
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}
.score{
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.score p{
    margin: 5px 0;
    font-size: 1.25rem;
}
#user-score,
#computer-score{
    font-size: 2rem;
    font-weight: bold;
}

.msg-container{
    margin-top: 20px;
}
.msg{
    font-size: 1.8rem;
    color: #666;
}

/*responsive Design*/
@media(max-width: 786px)
{
    .image-container{
        gap: 20px;
    }
    .image{
        height: 10.5rem;
        width: 10.5rem;
    }
    img{
        height:9rem ;
        width: 9rem;
    }
    .score-board{
        gap: 20px;
    }
    .score p{
        font-size: 1rem;
    }
    #user-score,
    #computer-score{
        font-size: 1.5rem;
    }
    .msg{
        font-size: 1.2 rem;
    }
}